.button,
button {
    background-color: var(--accent);
    color: var(--accent-text);
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius);
    line-height: 1.5;
    letter-spacing: 0.025em;
}

a.button {
    text-decoration: none;
}

.button[aria-disabled="true"],
input:disabled,
textarea:disabled,
select:disabled,
button[disabled] {
    cursor: not-allowed;
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: var(--text-light);
}

button:enabled:hover,
.button:not([aria-disabled="true"]):hover,
input[type="submit"]:enabled:hover,
input[type="reset"]:enabled:hover,
input[type="button"]:enabled:hover,
label[type="button"]:hover {
    background-color: var(--accent-hover);
}

.button:focus-visible,
button:focus-visible:where(:enabled),
input:enabled:focus-visible:where([type="submit"],
    [type="reset"],
    [type="button"]) {
    box-shadow: 0 0 0 3px var(--focus);
    outline: 0;
}