.card {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    overflow: hidden;

    @at-root #{&}__header {
        padding: 1rem;
    }

    @at-root #{&}__title {
        font-size: 1.25rem;
    }

    @at-root #{&}__subtitle {
        color: var(--text-light);
    }

    @at-root #{&}__image {
        margin: 0;
        @at-root #{&}--wrapper {

        }
    }

    @at-root #{&}__body {
        padding: 1rem;
    }

    @at-root #{&}__footer {
        padding: 1rem;
    }
}