details {
    padding: 0.5rem 1rem;
    background-color: var(--color-white);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);

    &[open] {
        &>summary {
            margin-bottom: 0.5rem;

            &+* {
                margin-top: 0;
            }
        }

        &>:last-child {
            margin-bottom: 0;
        }
    }
}

summary {
    cursor: pointer;
    font-weight: bold;
    padding: 0.7rem 1rem;
    margin: -0.7rem -1rem;
    word-break: break-all;
}

details>summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}