.dropdown {
    position: relative;

    &:hover, &:focus {
        .dropdown__list {
            opacity: 1;
            transform: scale(1);
        }
    }

    & > a {
        position: relative;
        svg {
            width: calculateRem(24px);
            position: absolute;
            right:0;
            top:50%;
            transform: translateY(-50%);
        }
    }

    @at-root #{&}__list {
        padding: 0.5rem 0;
        position: absolute;
        list-style-type: none;
        margin: 0;
        background-color: var(--bg);
        left: 0;
        opacity: 0;
        width: 100%;
        transform: scale(0);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
        border-radius: var(--border-radius);
    }

    @at-root #{&}__item {
        margin: 0;
        padding: 0;
        &:not(:last-child){
            margin-bottom: .5rem;
        }

        a {
            &:hover, &:focus, .active {
                background-color: var(--dropdown-hover-color);
            }
        }
    }
}