textarea,
select,
input {
    width: 100%;
    color: var(--text);
    background-color: var(--color-white);
}

fieldset{
    padding: 0;
    margin: 0;
    border-radius: var(--border-radius);
}

textarea,
select,
input:not([type="radio"]):not([type="checkbox"]){
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    max-width: 100%;
    border: 1px solid var(--border);

    &:focus, &:focus-visible{
        box-shadow: 0 0 0 3px var(--focus);
        outline: 0;
    }
}

::-webkit-resizer {
}

textarea,
select,
input:not([type="radio"]):not([type="checkbox"]),
form button {
    margin-bottom: 0.5rem;
}

label {
    display: block;
}

/* Add arrow to drop-down */
select:not([multiple]) {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtOCAxMCA0IDQgNC00Ii8+Cjwvc3ZnPgo=");
    background-position: calc(100% - 5px);
    background-size: 1.5rem;
    background-repeat: no-repeat;
}

*[dir="rtl"] select:not([multiple]) {
    background-position: 10px, 15px;
}

/* checkbox and radio button style */
input[type="checkbox"],
input[type="radio"] {
    position: relative;
    width: auto;
    padding: .5rem;
    border: 1px solid var(--border);
    cursor: pointer;
    margin-right: .25rem;
}

input[type="checkbox"]{
    border-radius: .25rem;
}

input[type="radio"] {
    border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--accent);
}

input[type="checkbox"]:checked::after {
    /* Creates a rectangle with colored right and bottom borders which is rotated to look like a check mark */
    content: " ";
    width: 0.18em;
    height: 0.32em;
    border-radius: 0;
    position: absolute;
    top: 0.11em;
    left: 0.18em;
    background-color: transparent;
    border-right: solid var(--color-white) 0.08em;
    border-bottom: solid var(--color-white) 0.08em;
    font-size: 1.8em;
    transform: rotate(45deg);
}

input[type="radio"]:checked::after {
    /* creates a colored circle for the checked radio button  */
    content: " ";
    width: 0.25em;
    height: 0.25em;
    border-radius: 100%;
    position: absolute;
    top: 0.125em;
    background-color: var(--bg);
    left: 0.125em;
    font-size: 32px;
}

textarea,
select,
input,
progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Set a height for color input */
input[type="color"] {
    height: 2.5rem;
    padding: 0.2rem;
}

/* do not show border around file selector button */
input[type="file"] {
    border: 0;
}

input[type="range"] {
    padding: 0;
}

input[type="color"] {
    height: 2.5rem;
    padding: 0.2rem;
}

.checkbox, .radio{
    display: flex;
    justify-items: center;
    align-items: center;
}