*[data-icon="info"] {
    svg {
        width: calculateRem(20px);
        height: calculateRem(20px);
    }
}
*[data-icon="image"] {
    svg {
        width: calculateRem(20px);
        height: calculateRem(20px);
    }
}
*[data-icon="upload"] {
    svg {
        width: calculateRem(20px);
        height: calculateRem(20px);
    }
}
*[data-icon="location"] {
    svg {
        width: calculateRem(20px);
        height: calculateRem(20px);
    }
}
*[data-icon="chevron-down"] {
    svg {
        width: calculateRem(20px);
        height: calculateRem(20px);
    }
}