.notice {
    background: var(--accent-bg);
    border: 2px solid var(--border);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    margin: 2rem 0;

    @at-root #{&}--info {
        background: lighten(map-get($colors, 'info'), 15%);
        border-color: map-get($colors, 'info');
    }

    @at-root #{&}--error {
        background: lighten(map-get($colors, 'error'), 15%);
        border-color: map-get($colors, 'error');
    }

    @at-root #{&}--warning {
        background: lighten(map-get($colors, 'warning'), 15%);
        border-color: map-get($colors, 'warning');
    }

    @at-root #{&}--success {
        background: lighten(map-get($colors, 'success'), 15%);
        border-color: map-get($colors, 'success');
    }
}