.popover {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:hover {
        .popover__content {
            opacity: 1;
            clip: unset;
        }
    }

    @at-root #{&}__content {
        opacity: 0;
        position: absolute;
        z-index: 1;
        clip: rect(1px, 1px, 1px, 1px);

        @at-root .popover--left #{&} {
            left: calculateRem(-5px);
            top: 50%;
            transform: translateY(-50%);
        }

        @at-root .popover--right #{&} {
            left: calc(100% + calculateRem(15px));
            top: 50%;
            transform: translateY(-50%);
        }

        @at-root .popover--bottom #{&} {
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
        }

        @at-root .popover--left #{&} {
            left: unset;
            right: calc(100% + 5px);
        }
    }

    @at-root #{&}__body {
        width: calculateRem(320px);
        background-color: var(--bg);
        box-shadow: var(--shadow);
        padding: 1rem;
        border-radius: var(--border-radius);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent #FFF transparent transparent;
            transform: rotate(0deg);
            filter: drop-shadow(-2px 0px 2px rgba(48, 55, 66, 0.15));
        }

        @at-root .popover--right #{&} {
            &:before {
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}