.tab {
    @at-root #{&}--vertical {
        display: flex;
        flex-flow: row wrap;
    }
    @at-root #{&}__controls {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: -1px;
            top:50%;
            transform: translateY(-50%);
            width: 2px;
            background-color: var(--disabled);
            height:100%;
        }

        @at-root .tab--vertical #{&} {
            @include from_md {
                width: 15%;
            }
        }
    }

    @at-root #{&}__control {
        padding: 1rem;
        margin: 0;
        width: 100%;
        cursor: pointer;

        &:hover, &:focus{
            color: var(--accent);
        }

        &[aria-selected="true"]{
            color: var(--accent);
            position: relative;
            font-weight: bold;
            &:after {
                content: '';
                position: absolute;
                z-index: 2;
                width: 4px;
                height: 100%;
                right: -2px;
                top:50%;
                transform: translateY(-50%);
                background-color: var(--accent);
            }
        }
    }

    @at-root #{&}__pane {
        padding: 1rem 2rem;
        @include from_md {
            width: 85%;
        }
    }
}

/**
<div class="tab">
    <ul class="tab__controls" role="tablist">
        <li class="tab__control" id="tab-1" role="tab" aria-selected="true" aria-controls="panel-1" tabindex="0">
            Tab1
        </li>
    </ul>
    <div class="tab__pane" id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
        Lorem ipsum
    </div>
</div>
*/