.tab {
    @at-root #{&}--vertical {
        display: flex;
        flex-flow: row wrap;
    }
    @at-root #{&}__controls {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;

        @at-root .tab--vertical #{&} {
            @include from_md {
                width: 15%;
            }
        }
    }

    @at-root #{&}__control {
        padding: 1rem;
        margin: 0;
        width: 100%;
        position: relative;
        cursor: pointer;
        text-align: center;

        &:after {
            content: '';
            position: absolute;
            background-color: var(--disabled);
            height: 1px;
            width: 100%;
            left: 0;
            bottom: 0;
        }

        @at-root .tab--vertical #{&} {
            &:after {
                right: 0;
                top:50%;
                transform: translateY(-50%);
                width: 1px;
                background-color: var(--disabled);
                height:100%;
            }
        }

        &:hover, &:focus{
            color: var(--accent);
        }

        &[aria-selected="true"]{
            color: var(--accent);
            position: relative;
            &:after {
                background-color: var(--accent);
            }
        }
    }

    @at-root #{&}__pane {
        padding: 1rem;

        @at-root .tab--vertical #{&} {
            @include from_md {
                width: 85%;
            }
        }
    }
}