.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

    @at-root #{&}__icon {}

    &:after {
        content: attr(data-tooltip);
        background-color: var(--color-white);
        padding: 0.75rem 1.25rem;
        position: absolute;
        bottom: calc(100% + .5rem);
        left: 50%;
        transform: translateX(-50%);
        box-shadow: rgb(229, 231, 235) 0px 10px 15px;
        border-radius: var(--border-radius);
        white-space: nowrap;
        display: none;
    }

    &:hover, &:focus {
        &:after{
            display: block;
        }
    }

    @at-root .tooltip--right {
        &:after {
            bottom: 50%;
            left: calc(100% + 0.5rem);
            transform: translateY(50%);
        }
    }

    @at-root .tooltip--bottom {
        &:after {
            left: 50%;
            transform: translateX(-50%);
            bottom: unset;
            top: calc(100% + 0.5rem);
        }
    }

    @at-root .tooltip--left {
        &:after {
            bottom: 50%;
            left: unset;
            right: calc(100% + 0.5rem);
            transform: translateY(50%);
        }
    }
}